@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

:root {
  --gradient-light: #a65fec;
  --gradient-dark: #7e22ce;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

#wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/*                        
  /$$$$$$$   /$$$$$$  /$$    /$$
  | $$__  $$ |____  $$|  $$  /$$/
  | $$  \ $$  /$$$$$$$ \  $$/$$/ 
  | $$  | $$ /$$__  $$  \  $$$/  
  | $$  | $$|  $$$$$$$   \  $/   
  |__/  |__/ \_______/    \_/    
*/

nav {
  width: 100%;
  height: 50px;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  gap: 0px;

  background-color: rgb(20,20,20);
  transition: 0.65s;
}

nav.burger-active {
  gap: 20px;
  height: 100%;
  background-color: black;
}

nav h1 {
  font-family: 'Gilroy-ExtraBold', sans-serif;
  font-size: 32px;
  color: white;
}

nav a {
  font-family: 'Inter var', sans-serif;
  font-size: 17px;
  font-weight: 400;
  text-decoration: none;
  color: rgba(255,255,255,0.0);

  transition: 0.5s;
}

header {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid rgba(255,255,255,0);
  transition: 0.65s;
}

header h1 {
  font-family: 'Gilroy-ExtraBold', sans-serif;
  font-size: 32px;
  color: white;
}

header a {
  font-family: 'Inter var', sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: rgba(255,255,255,0.5);
}

nav.burger-active header {
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.nav-links {
  max-height: 0;
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;

  color: rgba(255,255,255,0.0);
  transition: 0.65s all;
}

.nav-links.burger-active{
  gap: 20px;
  max-height: 100%;
  transition: 0.65s all;
}

.nav-links a li {
  padding-bottom: 0;
  color: rgba(255,255,255,0.0);
  border-bottom: 1px solid rgba(255,255,255,0);
  transition: 0.35s;
  list-style: none;
}

.nav-links.burger-active a li {
  color: rgba(255,255,255,0.65);
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.nav-links.burger-active a li:hover {
  color: rgba(255,255,255,1);
  border-bottom: 2px solid rgba(255,255,255,0.4);
}

.icon {
  height: 25px;
  width: 25px;
  color: white
}

.shop-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;

  transition: 0.65s all;
}

nav.burger-active .shop-icon {
  transform: translateY(-50px);
  opacity: 0%;
}

.burger {
  width: 50px;
  height: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: all 0.5s;

  cursor: pointer;
}

.burger.burger-active {
  transition: all 0.1s;
  gap: 0px !important;
}

.bar {
  width: 16px;
  height: 1px;
  background-color: white;
}

.one {
  transition: all 0.1s;
}

.one.burger-active {
  transition: all 0.5s !important;
  transform: rotate(45deg) translate(0.5px,0.5px);
}

.two {
  transition: all 0.1s;
}

.two.burger-active{
  transition: all 0.5s !important;
  transform: rotate(-45deg);
}

/*
                                   /$$     /$$                              
                                  | $$    |__/                              
    /$$$$$$$  /$$$$$$   /$$$$$$$ /$$$$$$   /$$  /$$$$$$  /$$$$$$$   /$$$$$$$
   /$$_____/ /$$__  $$ /$$_____/|_  $$_/  | $$ /$$__  $$| $$__  $$ /$$_____/
  |  $$$$$$ | $$$$$$$$| $$        | $$    | $$| $$  \ $$| $$  \ $$|  $$$$$$ 
   \____  $$| $$_____/| $$        | $$ /$$| $$| $$  | $$| $$  | $$ \____  $$
   /$$$$$$$/|  $$$$$$$|  $$$$$$$  |  $$$$/| $$|  $$$$$$/| $$  | $$ /$$$$$$$/
  |_______/  \_______/ \_______/   \___/  |__/ \______/ |__/  |__/|_______/ 
*/

#hero {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 53px;

  align-items: center;
  justify-content: center;

  background-color: black;
}

#hero h1 {
  font-size: 38px;
  text-align: center;
}

#hero h2 {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

#hero img#mobile {
  width: 75vw;
}

#hero img#pc {
  width: 60vw;
  display: none;
}

#prodicts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  padding: 20px;
}

.card h1 {
  color: black;
  font-weight: 700;
  font-size: 28px;
  padding-bottom: 10px;
}

.card h2 {
  color: rgba(0,0,0,0.75);
  font-weight: 400;
  font-size: 19px;
}

footer {
  width: 100%;

  background-color: rgb(245, 245, 245);
  color: rgba(0,0,0,0.5);
}

/*
   /$$                                 /$$    
  |__/                                | $$    
   /$$ /$$$$$$$   /$$$$$$  /$$   /$$ /$$$$$$  
  | $$| $$__  $$ /$$__  $$| $$  | $$|_  $$_/  
  | $$| $$  \ $$| $$  \ $$| $$  | $$  | $$    
  | $$| $$  | $$| $$  | $$| $$  | $$  | $$ /$$
  | $$| $$  | $$| $$$$$$$/|  $$$$$$/  |  $$$$/
  |__/|__/  |__/| $$____/  \______/    \___/  
                | $$                          
                | $$                          
                |__/                          
*/

.btn {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: .75rem;
  padding-bottom: .75rem;

  font-size: 16px;
  font-family: 'Inter var', sans-serif;
  font-weight: 500;

  background-color: white;
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;

  transition: 0.5s ease;
}

.btn:hover {
  transform: translateY(-5px);
}

.btn.simple {
  padding: 0;
  background-color: transparent;
  border: none;

  color: rgb(0, 102, 204);
}

.btn.semi-transparent {
  background-color: rgba(255,255,255,0.2);
  border: 1px solid rgba(255,255,255,0.1);
  color: white;
}

.btn.semi-transparent:hover {
  background-color: rgba(255,255,255,0.4);
}

.btn.transparent {
  color: rgba(0, 102, 204, 1.0);
  background-color: rgba(0, 102, 204, 0.1);
  border: 1px solid rgba(0, 102, 204, 0.2);
  border-radius: 10px;
}

.btn.transparent:hover {
  background-color: rgba(0, 102, 204, 0.2);
}

/*
    /$$$$$$                      /$$             
  /$$__  $$                    | $$             
  | $$  \__//$$$$$$  /$$$$$$$  /$$$$$$   /$$$$$$$
  | $$$$   /$$__  $$| $$__  $$|_  $$_/  /$$_____/
  | $$_/  | $$  \ $$| $$  \ $$  | $$   |  $$$$$$ 
  | $$    | $$  | $$| $$  | $$  | $$ /$$\____  $$
  | $$    |  $$$$$$/| $$  | $$  |  $$$$//$$$$$$$/
  |__/     \______/ |__/  |__/   \___/ |_______/ 
*/

@font-face {
  font-family: Gilroy-ExtraBold;
  src: url("../misc/Gilroy-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: Gilroy-Light;
  src: url("../misc/Gilroy-Light.otf") format("opentype");
}

h1, h2, h3, h4 {
  color: white;
}

h1 {
  font-size: 32px;
}

h1 span {
  color: white;
}

/*
  NO
*/

@media only screen and (min-width: 768px) {
  #hero img#pc {display: block;}
  #hero img#mobile {display: none;}
  
}